<!-- COPYRIGHT (C) 2011-2013 ASSAF YARIV  !-->

@{
    ViewBag.Title = "Bexxon Graphics";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
    Bexxon Graphics is a software company in development phase, focused on producing speciality software components and applications suited for industrial needs.
    </p>
    <p>
   Our expertise in computer graphics include a varaity of domains such as photo-realistic rendering , non-realistic rendering, techincal illustration, electronic product catalogs, real-time simulation.
</p>
    <p>
Our main product is the EasyRay (C) Platform which provides a powerful , cutting-edge software development environment optimized for developing resource demanding graphic applications. EasyRay(C) Platform simplfies the process of developing a high performance rendering application and by this saving time and costs to companies who develop and maintain expert graphic systems in variaty of industrial and educational fields.
</p>
    <p>
Our services includes a consulting service in the field of computer graphics software and  a customization maintainence service for EasyRay(c) technolegy customers.
    </p>
    <p>
    <h3>We believe that your graphics can do better ... </h3>
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>