<!-- COPYRIGHT (C) 2011-2013 ASSAF YARIV  !-->

@model BServer.Models.room

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>room</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.typ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.typ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.scale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.scale)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
