<!-- COPYRIGHT (C) 2011-2013 ASSAF YARIV  !-->

@model BServer.Models.room

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>room</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.location)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.location)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.typ)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.typ)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.scale)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.scale)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.roomId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
