<!-- COPYRIGHT (C) 2011-2013 ASSAF YARIV  !-->

@model BServer.Models.Products

@{
    ViewBag.Title = "Details";
    string modelPage ="~/Products/model/" + Model.productID;
    int HtmlNumber = Model.htmlNum;
    string url = "/BServer/" + Model.mainPubLocation + "/view0" + ".htm";
}

@functions   
{
 public static int getColor (string url){
  using (StreamReader reader = new StreamReader(url))
   {
     String line = String.Empty;
     int index = -1; int retC = 0;
     while ((line = reader.ReadLine()) != null)
     {
         index = line.IndexOf("BODY bgColor=#");
         if (index > -1)
         {
             string Bcolor = line.Substring(index + 14, 6);
             retC = Int32.Parse(Bcolor, System.Globalization.NumberStyles.HexNumber); //Convert..ToInt32(Bcolor);
         } 
     }
  return retC;
   }
  }
  
  public static int[] getArrColor(int num, string location)
  {
      int[] ret = new int[num];

      for(int i=0; i<num; i++)
          ret[i] = getColor(@"C:/Education/BServer/BServer/BServer/" + location + "/view" + i + ".htm");

      return ret;
  }
}

<h1>@Html.DisplayFor(model => model.productName) -  @Html.DisplayFor(model => model.productVersion)</h1>
 <h3>@Html.ActionLink("View Product In Full Screen", "FullSModel", new { id = Model.productID })</h3> 

 @{//using (Html.BeginForm())
// {
// @Html.Hidden("currIndexPage", 0, new { runat = "server" })
 }

<table border="0" cellspacing ="0" cellpadding= "0">
    <tr>
        <th>
             <iframe id="model" src= "@Url.Content(modelPage)" 
             webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="no"
             width="450px" height="360px" frameborder="0" style="float: right; margin-left: 0;">
             </iframe>
        </th>
        <th>
             <iframe id="chgMe" src="@Url.Content(url)" scrolling="auto"
              width="480px" height="360px" frameborder="0" style="float: right; margin-left: 0; text-align:right">
             </iframe>
            
        </th>
    </tr>
      <tr>
        <td>
        </td>
        <td>
             <ul id="menu">
            <li><button onclick= PreviousHtml()>Previous</button></li> 
              <li><button onclick= nextHtml()>Next</button> </li> 
             </ul>
           </td> 
        </tr>
</table>

   <script type="text/javascript">

       var HtmlNum = @Model.htmlNum;
       var index = 0;
       var colors = {};
       onLoad();


       function onLoad()
       {
          @{var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();}
           colors = @serializer.Serialize( getArrColor(Model.htmlNum, Model.mainPubLocation));
       }


       function getFirstBC()
       {
          return colors[0];
       }

       function nextHtml()
       {
         index = (index+1)%HtmlNum;
         var myurl =  "/BServer/" + '@Model.mainPubLocation' + "/view" +Math.abs(index)+ ".htm";
         document.getElementById('chgMe').src=myurl;

       var colo = colors[Math.abs(index)]
       document.getElementById('model').contentWindow.setBColor(colo);
       }

       function PreviousHtml()
       {
         index = (index-1)%HtmlNum;
         var myurl =  "/BServer/" + '@Model.mainPubLocation' + "/view" +Math.abs(index)+ ".htm";
         document.getElementById('chgMe').src=myurl;

         var colo = colors[Math.abs(index)]
         document.getElementById('model').contentWindow.setBColor(colo);
       }

       function modelLoad(name , id)
       {
           var myurl =  "/Bserver/AVcfile/FullSModelP/" + id;
         document.getElementById(name).src=myurl;
       }
       function jjj()
       {
       console.log("jjj");
       }
   
   </script>
  




<fieldset>
    <legend>Products</legend>

   <h2><div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div></h2> 
    <div class="display-field">
        @Html.DisplayFor(model => model.description)


    </div>
</fieldset>




<fieldset>
<h2>More Publications:</h2>
 @Styles.Render("~/Content/pub") 

 	<section>
     @foreach (var item in Model.Publications)
 {
     string imageurl = "/Bserver/" + item.location + "/avothumb.jpg";
     string modelurlP = "/Bserver/AVcfile/PubDetalis/" + item.id;
     string modelurlF = "/Bserver/AVcfile/FullSModelP/" + item.id;
         <div class = "lb-lalala">
				<ul class="lb-album">
					<li>
						<a href="#image-@item.id" onclick="modelLoad('modelP-@item.id', '@item.id' )" >
							<img src="@Url.Content(imageurl)" alt="image01" width="150" height="150">
							<span>@Html.DisplayFor(modelItem => item.name)</span>
						</a>
						<div class="lb-overlay" id="image-@item.id">
                                 <iframe id = "modelP-@item.id" src=    "about:blank"
                                         webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="no"
                                       width="60%" height="50%" frameborder="0" style="float: center; margin-left: 1em; z-index: 1000;">
                                 </iframe>

                                  <iframe id = "modelP-@item.id" src= "@Url.Content(modelurlP)"
                                         webkitallowfullscreen mozallowfullscreen allowfullscreen scrolling="no"
                                       width="60%" height="50%" frameborder="0" style="float: center; margin-left: 1em; z-index: 1000;">
                                 </iframe>
						
							<div>
								<h3>@Html.DisplayFor(modelItem => item.name) <span>/@Html.DisplayFor(modelItem => item.name)/</h3>
                                  <p>@Html.DisplayFor(modelItem => item.description)</p>
							</div>
							<a href="#page" class="lb-close">x Close</a>
						</div>
					</li>
              </ul>
              </div>
         }
 </section>





@{
    /* "@Url.Content(modelurl)" modelLoad('modelP-@item.id', @item.id' )
     *      <div class="view view-sixth">
         <img src="@Url.Content(imageurl)" width=300 height=200 / >
              <div class="mask">
                  <h2> @Html.DisplayFor(modelItem => item.name)</h2>
                  <p>@Html.DisplayFor(modelItem => item.description)</p>
                  <a href="@Url.Action("Details", "AVcfile", new { id = item.id })" class="info">VIEW NOW</a>
               </div>
       </div>
  }
</div>
</fieldset>
   * 
    
        @{   
          }


    //<img src="images/full/1.jpg" alt="image01" />
    
<fieldset>
<h2>More Publications:</h2>
 @Styles.Render("~/Content/catalog") 
 <div class="main"> 
 @foreach (var item in Model.Publications)
 {
     string imageurl = "/Bserver/"+  item.location + "/avothumb.jpg"; 
     <div class="view view-sixth">
         <img src="@Url.Content(imageurl)" width=300 height=200 / >
              <div class="mask">
                  <h2> @Html.DisplayFor(modelItem => item.name)</h2>
                  <p>@Html.DisplayFor(modelItem => item.description)</p>
                  <a href="@Url.Action("Details", "AVcfile", new { id = item.id })" class="info">VIEW NOW</a>
               </div>
       </div>
  }
</div>
</fieldset>
   * 
   */
  }

<p>
@if (Request.IsAuthenticated)
{
     @Html.ActionLink("Back to Product", "Plist")
}
else
{
    @Html.ActionLink("Back to Product", "Index") 
    @Html.ActionLink("View Banner", "ViewHtml", new{id=Model.productID}) 
}
</p>
