<!-- COPYRIGHT (C) 2011-2013 ASSAF YARIV  !-->

@model IEnumerable<BServer.Models.Products>

@{
    ViewBag.Title = "Product List:";
}

<h2>Product List:</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table  class  = "altrowstable" id="alternatecolor">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.productName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productVersion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productVersion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.productID }) |
            @Html.ActionLink("Details", "FullDetails", new { id = item.productID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.productID }) |
            @Html.ActionLink("Download", "Download", new { id = item.productID }) 
        </td>
    </tr>
}

</table>

<script type="text/javascript">
    function altRows(id) {
        if (document.getElementsByTagName) {

            var table = document.getElementById(id);
            var rows = table.getElementsByTagName("tr");

            for (i = 0; i < rows.length; i++) {
                if (i % 2 == 0) {
                    rows[i].className = "evenrowcolor";
                } else {
                    rows[i].className = "oddrowcolor";
                }
            }
        }
    }

    window.onload = function () {
        altRows('alternatecolor');
    }
</script>